<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://Java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://Java.sun.com/xml/ns/javaee
                             http://Java.sun.com/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0"
         metadata-complete="true">

    <display-name>Charter Flight Web</display-name>

    <servlet>
        <servlet-name>ClienteServlet</servlet-name>
        <servlet-class>com.charterflight.servlet.ClienteServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ClienteServlet</servlet-name>
        <url-pattern>/ClienteServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ClienteApiServlet</servlet-name>
        <servlet-class>com.charterflight.servlet.ClienteApiServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ClienteApiServlet</servlet-name>
        <url-pattern>/api/clientes/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>VueloApiServlet</servlet-name>
        <servlet-class>com.charterflight.servlet.VueloApiServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>VueloApiServlet</servlet-name>
        <url-pattern>/api/vuelos/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ReservaApiServlet</servlet-name>
        <servlet-class>com.charterflight.servlet.ReservaApiServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ReservaApiServlet</servlet-name>
        <url-pattern>/api/reservas/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PagoApiServlet</servlet-name>
        <servlet-class>com.charterflight.servlet.PagoApiServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>PagoApiServlet</servlet-name>
        <url-pattern>/api/pagos/*</url-pattern>
    </servlet-mapping>

</web-app>
